// 公共变量

// color-item
$color-item-primary = #09BB07 // 主色调
$color-item-assist = #D84E4C // 辅助色
$color-item-background = #1F1E23 // 辅助背景色
$color-item-link = #8F8F8F // 辅助文字跳转icon
$color-item-icon = #4a4a4a // icon颜色
$color-item-line = #f0f0f0 // 分割线
// color-button
$color-button-primary = #09BB07
$color-button-primary-active = #078E05
$color-button-white = #fff
$color-button-white-active = #f0f0f0
$color-button-gray = #f0f0f0
$color-button-gray-active = #8f8f8f
$color-button-red = #d84e4c
$color-button-red-active = #ac3e3d
