<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-agora-audio" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>agoraAudio</name>
    <js-module name="agoraAudio" src="www/agoraAudio.js">
        <clobbers target="cordova.plugins.agoraAudio"/>
    </js-module>

    <preference name="AGORA_ID" default="5e8f25a35b9e4441923c13d542e74c1c"/>
    <!-- <preference name="AGORA_ANDROID_SDK_VERSION" default="2.8.2"/> -->

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="agoraAudio">
                <param name="android-package" value="com.drivingtalking.agoraaudio.AgoraAudio"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />   
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <!-- // 如果你的场景中涉及读取外部存储，需添加如下权限： -->
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <!-- // 如果你使用的是 Android 10.0 及以上设备，还需要添加如下权限： -->
            <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
        </config-file>
        <!-- <source-file src="src/android/res/values/strings.xml" target-dir="res/values" /> -->
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="agora_app_id">$AGORA_ID</string>
        </config-file>
        <source-file src="src/android/java/AgoraAudio.java" target-dir="src/com/drivingtalking/agoraaudio"/>
        <source-file src="src/android/java/RtcEngineCreator.java" target-dir="src/com/drivingtalking/agoraaudio"/>
        <source-file src="src/android/java/RtcEngineEventHandler.java" target-dir="src/com/drivingtalking/agoraaudio"/>

        <!-- <framework src="io.agora.rtc:voice-sdk:$AGORA_ANDROID_SDK_VERSION"/> -->
        <source-file src="src/android/libs/agora-rtc-sdk.jar" target-dir="libs"/>        
        <framework src="src/android/libs/agora-rtc-sdk.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/libs/arm64-v8a/libagora-crypto.so" target-dir="libs/arm64-v8a" framework="true" />
        <source-file src="src/android/libs/arm64-v8a/libagora-rtc-sdk-jni.so" target-dir="libs/arm64-v8a" framework="true"/>
        <source-file src="src/android/libs/armeabi-v7a/libagora-crypto.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <source-file src="src/android/libs/armeabi-v7a/libagora-rtc-sdk-jni.so" target-dir="libs/armeabi-v7a" framework="true"/>
        <source-file src="src/android/libs/include/AgoraBase.h" target-dir="libs/include" framework="true"/>
        <source-file src="src/android/libs/include/IAgoraMediaEngine.h" target-dir="libs/include" framework="true"/>
        <source-file src="src/android/libs/include/IAgoraRtcEngine.h" target-dir="libs/include" framework="true"/>
        <source-file src="src/android/libs/include/IAgoraService.h" target-dir="libs/include" framework="true"/>
        <source-file src="src/android/libs/x86/libagora-crypto.so" target-dir="libs/x86" framework="true"/>
        <source-file src="src/android/libs/x86/libagora-rtc-sdk-jni.so" target-dir="libs/x86" framework="true"/>
        <source-file src="src/android/libs/x86_64/libagora-crypto.so" target-dir="libs/x86_64" framework="true"/>
        <source-file src="src/android/libs/x86_64/libagora-rtc-sdk-jni.so" target-dir="libs/x86_64" framework="true"/>
    </platform>
</plugin>